head {
    background-image: url('https://wallpapercave.com/wp/wp8627074.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
main {
    padding: 20px;
}
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}